<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>

    <session-factory>
        <property title="connection.driver_class">org.postgresql.Driver</property>
        <property title="connection.url">jdbc:postgresql://127.0.0.1:5433/region</property>
        <property title="connection.username">postgres</property>
        <property title="connection.password">root</property>
        <property title="default_schema">public</property>
        <property title="connection.pool_size">1</property>
        <property title="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property title="current_session_context_class">thread</property>
        <property title="hbm2ddl.auto">update</property>

        <mapping class="smpl.hibernate.Region"/>
    </session-factory>

</hibernate-configuration>