<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property title="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property title="connection.url">jdbc:mysql://localhost:3306/music_blog</property>
        <property title="connection.username">root</property>
        <property title="connection.password">root</property>
        <!--<property title="default_schema">music_blog</property>-->
        <property title="connection.pool_size">1</property>
        <property title="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property title="current_session_context_class">thread</property>
        <property title="hbm2ddl.auto">update</property>

        <mapping class="com.hibernate.examples.model.Genre"/>
        <mapping class="com.hibernate.examples.model.SubGenre"/>
    </session-factory>

</hibernate-configuration>