<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.userMapper">
    <select id="selectUser" parameterType="Integer" resultType="users">
           select user_id as "user_id",
                  user_first_name as "user_first_name",
                  user_last_name as "user_last_name",
                  user_name as "user_name",
                  password as "password",
                  email as "email",
                  is_active as "is_active"
                  from ums.public.users where user_id = #{user_id}
    </select>

    <select id="getAllUsers" resultType="users">
          select user_id as "user_id",
                  user_first_name as "user_first_name",
                  user_last_name as "user_last_name",
                  user_name as "user_name",
                  password as "password",
                  email as "email",
                  is_active as "is_active"
                  from ums.public.users

    </select>

    <insert id="insertUser" parameterType="users" keyProperty="user_id" useGeneratedKeys="true">
        insert into ums.public.users (
            user_first_name,
            user_last_name,
            user_name,
            password,
            email,
            is_active
        )
        values (
            #{user_first_name},
            #{user_last_name},
            #{user_name},
            #{password},
            #{email},
            #{is_active}
        )
    </insert>

    <insert id="insertRole" parameterType="role" keyProperty="roles_id" useGeneratedKeys="true">
        insert into ums.public.user_roles(
            user_id,
            authority
          )
           values(
           #{user_id},
           #{authority}
           )
    </insert>

    <update id="updateUser" parameterType="users">
        update ums.public.users set
         user_first_name =#{user_first_name},
         user_last_name =#{user_last_name},
         user_name =#{user_name},
         password =#{password},
         email =#{email},
         is_active =#{is_active}
         where user_id =#{user_id}
    </update>

    <delete id="deleteUser" parameterType="Integer">
        delete from ums.public.users where user_id =#{user_id}
    </delete>

</mapper>