<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>ExtJS CRUD App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/extjs/3.4.1-1/resources/css/ext-all.css">
  <link rel="stylesheet" href="../resources/css/grid-examples.css">
  <link rel="stylesheet" href="../resources/css/examples.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/3.4.1-1/ext-all.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/3.4.1-1/adapter/ext/ext-base.js"></script>
  <script type="text/javascript" src="../resources/js/ext-base.js"></script>

  <!-- ExtJS library: all widgets -->
  <script type="text/javascript" src="../resources/js/ext-all.js"></script>

  <!-- page specific -->
  <script type="text/javascript" src="array-grid.js"></script>
  <!--src="https://cdnjs.cloudflare.com/ajax/libs/extjs/3.4.1-1/ext-all.js"></script>-->
  <style>
  .book-add { background-image:url('images/book_add.png');}
  div#output {margin:100px;}
  </style>
  <script type="text/javascript" src="books.js"></script>
</head>
<body>
  <div id="output"></div>
</body>
</html>
