<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Ext</title>

    <link rel="stylesheet" href="../resources/css/grid-examples.css">
    <link rel="stylesheet" href="../resources/css/examples.css">
    <link rel="stylesheet" href="../resources/css/ext-all.css">
    <script type="text/javascript" src="../resources/js/ext-base.js"></script>
    <script type="text/javascript" src="../resources/js/ext-all.js"></script>
    <script type="text/javascript" src="grid.js"></script>
</head>
<body>

</body>
</html>