<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.project.ums.dao"/>
    <context:component-scan base-package="com.project.ums.service"/>
    <context:component-scan base-package="com.project.ums.controllers"/>

    <!--<bean id="user" class="com.project.ums.model.User"/>-->

    <!--<bean id="ums_userDAO" class="com.project.ums.dao.UserDAOImpl">-->
        <!--<constructor-arg value="com.project.ums.model.User"/>-->
    <!--</bean>-->

    <!--<bean id="userController" class="com.project.ums.controller.UserController">-->
        <!--<property name="userDAO" ref="ums_userDAO"/>-->
    <!--</bean>-->

</beans>