<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean title="date" class="java.util.Date"/>
    
    <bean title="person" abstract="true" class="bean.Person">
        <property title="title" value="Kostya"/>
        <property title="id" value="1231"/>
        <property title="birth" ref="date"/>
    </bean>

    <bean title="adult" class="bean.Adult" parent="person">
        <property title="number" value="12"/>
        <property title="sirial" value="34"/>
        <property title="snils" value="55"/>
    </bean>

    <bean title="child" class="bean.Child" parent="person">
        <property title="title" value="Konstantin"/>
        <property title="parent" ref="adult"/>
    </bean>
          
        
</beans>