<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="date" class="java.util.Date"/>

    <bean id="person" class="bean.Person">
        <property name="id" value="12"/>
        <property name="name" value="Alex"/>
        <property name="birth" ref="date"/>
    </bean>

    <bean id="car" class="bean.Car">
        <property name="id" value="121"/>
        <property name="model" value="Acura"/>
        <property name="owner" ref="person"/>
        <property name="year" value="2014"/>
        <property name="serviceDate" ref="date"/>
    </bean>
</beans>