<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property title="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property title="connection.url">jdbc:mysql://localhost:3306/music_blog</property>
        <property title="connection.username">root</property>
        <property title="connection.password">root</property>
        <!--<property title="default_schema">music_blog</property>-->
        <property title="connection.pool_size">1</property>
        <property title="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property title="current_session_context_class">thread</property>
        <property title="hbm2ddl.auto">update</property>

        <!-- Enable the second-level cache -->
        <property title="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        <!--<property title="cache.region.factory.class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>-->
        <property title="cache.use_second_level_cache">true</property>
        <!--<property title="cache.use_second_level_cache">false</property>-->
        <!--<property title="generate_statistics">true</property>-->
        <!--<property title="cache.use_structured_entries">true</property>-->
        <property title="cache.use_query_cache">true</property>
        <!--<property title="cache.use_query_cache">false</property>-->
        <!-- Echo all executed SQL to stdout -->
        <property title="show_sql">true</property>



        <mapping class="com.cashexamples.model.Genre"/>
    </session-factory>

</hibernate-configuration>