<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <servlet>
        <servlet-title>initServlet</servlet-title>
        <servlet-class>ParamInitServlet</servlet-class>

        <init-param>
            <param-title>parameter1</param-title>
            <param-value>value1</param-value>
        </init-param>
        <init-param>
            <param-title>parameter2</param-title>
            <param-value>value2</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-title>initServlet</servlet-title>
        <url-pattern>/initServlet</url-pattern>
    </servlet-mapping>
</web-app>